fastapi
uvicorn
python-multipart
batchgenerators
tqdm
scipy
pyyaml
nibabel
nnunetv2
opencv-python
numpy==1.26.4
Pillow
SimpleITK
scikit-image
albumentations
torch
torchvision
segmentation-models-pytorch